.fourth-page{
    width: 100vw;
    height: 100vh;

    background-color: #edf0fd;
    position: relative;
    scroll-snap-align: start;

    .wrapper{
        width: 100%;
        height: 80%;
        position: absolute;
        top: 100px;
        display: flex;
        flex-direction: column;
        gap: 30px;
        justify-content: center;
        align-items: center;
        .div1 { 
        
            display: flex;
            gap: 40px;
            justify-content: center;
            align-items: center;
            :hover{
                color: white;
                animation-name: filling-up;
                animation-timing-function: linear;
                animation-iteration-count: infinite;
                animation-duration: 1s;
            }
            .btns {
                width: 400px;
                height: 50px;
                border: 1px solid #F2F3F7;
                border-radius: 25px;
                background-color: #FFFFFF;
                cursor: pointer;
                font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                font-size: 20px;
                font-weight: 500;
    
                display: flex;
                padding: 30px 20px;
                justify-content: space-between;
                align-items: center;
    
              }
        }
        .parent {
            width: 80%;
            height: 75%;
            display: grid;
            grid-template-columns: repeat(6, 1fr);
            grid-template-rows: repeat(4, 1fr);
            grid-column-gap: 15px;
            grid-row-gap: 20px;
    
            :hover{
                color:white;
                animation-name: filling-up;
                animation-timing-function: linear;
                animation-iteration-count: infinite;
                animation-duration: 1s;
            }
            
           
            .div2 { 
                grid-area: 1 / 1 / 3 / 3;
        
            }
            .div3 { 
                grid-area: 1 / 3 / 3 / 5; 
    
            }
            .div4 { 
                grid-area: 1 / 5 / 3 / 7; 
    
            }
            .div5 { 
                grid-area: 3 / 1 / 6 / 3;
    
            }
            .div6 { 
                grid-area: 3 / 3 / 6 / 5; 
    
            }
            .div7 { 
                grid-area: 3 / 5 / 6 / 7; 
    
            }
            .new-box{
                background-color: white;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                padding: 20px 30px;
                border-radius: 15px;
          
               
    
                button{
                    width: 100px;
                    height: 30px;
                    border: none;
                    background-color: #D8DEF8;
                    border-radius: 20px;
                    font-size: 15px;
                    color: #4D6ADE;
                }
    
                :nth-child(2){
                    font-size: 30px;
                    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
                }
                :nth-child(3){
                    font-size: 20px;
                    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
                }
            }
            }
    }
    
    }
    
       
@keyframes filling-up {
    0%{opacity: 0; background-color: #0E3092;}
    50%{opacity: 50; background-color: #0E3092;}
    100%{opacity: 100; background-color: #0E3092;}
}