header {
  width: 100vw;
  height: 110px;
  position: fixed;
  z-index: 10;
  background-color: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.311);
}
header .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .wrapper .navi__logo {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-left: 10px;
  padding-top: 10px;
}
header .wrapper .navi__logo img {
  width: auto;
  height: 90px;
}
header .wrapper .navi__logo .logo__text {
  width: auto;
  display: flex;
  flex-direction: column;
}
header .wrapper .navi__logo .logo__text :nth-child(1) {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 10px;
  font-weight: 700;
  color: white;
  text-shadow: 0px 0px 10px black;
  text-transform: uppercase;
}
header .wrapper .navi__logo .logo__text :nth-child(2) {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: white;
  text-shadow: 0px 0px 10px black;
  text-transform: uppercase;
}
header .wrapper .navi__btns {
  position: relative;
  display: inline-block;
  display: flex;
}
header .wrapper .navi__btns .btn {
  border: none;
  background-color: transparent;
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 22px;
  font-weight: 650;
  padding: 15px 20px;
  text-shadow: 0px 0px 10px black;
}
header .wrapper .navi__btns .btn:hover {
  color: black;
  text-shadow: 0px 0px 15px rgb(219, 219, 219);
  cursor: pointer;
  border: none;
}
header .wrapper .navi__btns .about-content {
  display: none;
  position: absolute;
  z-index: 1;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 20px;
  font-weight: 450;
  background-color: rgba(249, 249, 249, 0.8980392157);
  min-width: 100px;
  border-radius: 10px;
}
header .wrapper .navi__btns .about-content a {
  display: block;
  text-decoration: none;
  color: rgb(37, 37, 37);
  font-size: 12px;
  padding: 12px 20px;
}
header .wrapper .navi__btns .about-content a:hover {
  background-color: #ececec;
  border-radius: 10px;
}
header .wrapper .navi__btns .dropbox__about:hover .about {
  display: block;
}
header .wrapper .navi__btns .dropbox__info:hover .info {
  display: block;
}
header .wrapper .navi__btns .dropbox__apply:hover:hover .apply {
  display: block;
}
header .wrapper .navi__btns .dropbox__education:hover .education {
  display: block;
}
header .wrapper .navi__btns .dropbox__activies:hover .activies {
  display: block;
}
header .wrapper .navi__btns .dropbox__news:hover .news {
  display: block;
}
header .wrapper .navi__btns .dropbox__ads:hover .ads {
  display: block;
}/*# sourceMappingURL=header.css.map */