.fourth-page{
    width: 100%;
    height: 100vh;

    background-color: #cfdce9;
    position: relative;
    scroll-snap-align: start;


    .wrapper{

        width: 100vw;
        height: 60%;
        position: absolute;
        top: 130px;
        display: flex;
        flex-direction: column;
        gap: 50px;
        justify-content: center;
        align-items: center;

        .div1 { 
            width: 80%;
            display: flex;
            flex-direction: column;
            gap: 10px;
            justify-content: center;
            align-items: center;
            :hover{
                color: white;
                animation-name: filling-up;
                animation-timing-function: linear;
                animation-iteration-count: infinite;
                animation-duration: 1s;
            }
            .btns {
                width: 100%;
                height: 30px;
                color: black;
                border: 1px solid #F2F3F7;
                border-radius: 20px;
                background-color: #FFFFFF;
                cursor: pointer;
                font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                font-size: 15px;
                font-weight: 500;
    
                display: flex;
                padding: 15px 10px;
                justify-content: space-between;
                align-items: center;
    
              }
        }
        .parent {
            width: 80%;
            height: 70%;
            display: flex;
            flex-direction: column;
          
    
            :hover{
                color:white;
                animation-name: filling-up;
                animation-timing-function: linear;
                animation-iteration-count: infinite;
                animation-duration: 1s;
            }
            
            .div5 { 
                display: none;
    
            }
            .div6 { 
                display: none;
    
            }
            .div7 { 
                display: none;
    
            }
            
            .new-box{
                width: 100%;
                height: 200px;
                background-color: white;
                display: flex;
                flex-direction: column;
                justify-content: center;
                border-radius: 15px;
                position: relative;
          
               
    
                button{
                    width: 100px;
                    border: none;
                    background-color: #D8DEF8;
                    border-radius: 20px;
                    font-size: 15px;
                    color: #4D6ADE;
               
                }
    
                :nth-child(2){
                    font-size: 20px;
                    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                    padding-right: 10px;
                    position: absolute;
                    top: 50px;
                }
                :nth-child(3){
                    font-size: 15px;
                    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

                }
            }
            }
    }
    
    }
    
       
@keyframes filling-up {
    0%{opacity: 0; background-color: #0E3092;}
    50%{opacity: 50; background-color: #0E3092;}
    100%{opacity: 100; background-color: #0E3092;}
}